--
-- PostgreSQL database dump
--

\restrict DCwTBmOKfqnqCr27Wk3CUa7dCWgaKry5wH2HCs5eCRsFYh8Dz0JuzgTkEQRxBHu

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    category character varying(100),
    "sellingPrice" numeric(10,2) DEFAULT 0 NOT NULL,
    "purchasePrice" numeric(10,2) DEFAULT 0 NOT NULL,
    "standardRollLength" numeric(10,2) DEFAULT 22.86 NOT NULL,
    "isActive" boolean DEFAULT true,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: sales; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sales (
    id uuid NOT NULL,
    "invoiceNumber" character varying(50) NOT NULL,
    "customerId" character varying(50),
    "customerName" character varying(255),
    items jsonb NOT NULL,
    "totalAmount" numeric(10,2) NOT NULL,
    "paymentMethod" character varying(20) NOT NULL,
    "saleDate" timestamp with time zone,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.sales OWNER TO postgres;

--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sales; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sales (id, "invoiceNumber", "customerId", "customerName", items, "totalAmount", "paymentMethod", "saleDate", "createdAt", "updatedAt") FROM stdin;
a28c9708-c6e0-4138-9049-92370b3cc195	INV-83469004	walk-in	Walk-in Customer	[{"name": "Chiffon", "unit": "m", "isRoll": false, "meters": 10, "totalPrice": 5200, "pricePerMeter": 520}]	5200.00	cash	2026-06-27 22:04:29.004+04	2026-06-27 22:04:29.006+04	2026-06-27 22:04:29.006+04
\.


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: sales sales_invoiceNumber_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT "sales_invoiceNumber_key" UNIQUE ("invoiceNumber");


--
-- Name: sales sales_invoiceNumber_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT "sales_invoiceNumber_key1" UNIQUE ("invoiceNumber");


--
-- Name: sales sales_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict DCwTBmOKfqnqCr27Wk3CUa7dCWgaKry5wH2HCs5eCRsFYh8Dz0JuzgTkEQRxBHu

